.login-instagram-logo {
  margin: 22px auto 12px;
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;

  background-repeat: no-repeat;
  background-position: -98px -150px;
  height: 51px;
  width: 175px;
}
